{
    "endOfLine": "crlf",
    "printWidth": 180,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "quoteProps": "consistent",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always"
}
